main {
    grid-area: main;
    padding: 1rem;
}

main .produtos h2 {
    color: var(--cor-neutra-clara);
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 2rem;
}

main .produtos ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

main .produtos .produto {
    max-width: 23rem;
    border-radius: 0.88rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--cor-cinza-escura);
}

main .produtos img {
    width: 100%;
    height: 20.88rem;
    border-top-left-radius: 0.88rem;
    border-top-right-radius: 0.88rem;
    display: block;
    object-position: center;
    object-fit: cover;
}

main .produto figcaption {
    background-color: var(--cor-cinza-escura);
    color: var(--cor-neutra-clara);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 1.5rem 1.5rem 1.2rem;
}

main .informacoes {
    background-color: var(--cor-cinza-escura);
    color: var(--cor-neutra-clara);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 1.5rem 1.5rem;
    border-bottom-left-radius: 0.88rem;
    border-bottom-right-radius: 0.88rem;
}

main .informacoes span {
    color: var(--cor-cinza-clara);
}

main informacoes strong {
    color: var(--cor-cinza-clara);
    font-size: 0.9rem;
    letter-spacing: 0.1rem;
}

main .informacoes .preco {
    font-size: 2rem;
    margin-top: 1rem;
    text-align: right;
}

main .informacoes .adicionar-ao-carrinho {
    background-color: var(--cor-primaria);
    border: none;
    border-radius: 0.50rem;
    color: var(--cor-neutra-clara);
    padding: 1rem;
    cursor: pointer;
    margin-top: 0.5rem;
    transition: background-color 0.3s ease-in-out;
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
}

main .informacoes .adicionar-ao-carrinho:hover {
    background-color: var(--cor-primaria-hover);
}

@media(min-width: 48.06rem) {
    main .produtos .produto {
        min-width: 23rem;
    }

    main .produtos ul {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 2rem;
    }
}

@media (min-width: 73.13rem) {
    main section {
        max-width: 73.13rem;
        margin: 0 auto;
    }
}